VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_appwrite_project_id
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_COLLECTION_PROJECTS=your_projects_collection_id
VITE_APPWRITE_COLLECTION_EXPERIENCE=your_experience_collection_id
VITE_APPWRITE_COLLECTION_ENQUIRIES=your_enquiries_collection_id
VITE_APPWRITE_BUCKET_ID=your_storage_bucket_id
